@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import '../assets/css/util.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:black;
  font-weight: bold;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container-secsion {
  margin: 0 auto;
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.container-secsion div table{
  margin: 0 auto;
}
.button-sucess{
  background-color: #7a6afe;
}
.button-cancel{
  background-color: #807c7c;
}
.button-cancel, .button-sucess{
  padding:8px;
  color:#fff;
  border-radius: 4px;
}
.button-cancel:hover{
  background-color:#979393 ;
  transition: all 0.5s ease 0s;
}
.button-sucess:hover{
  background-color:#34bcfd ;
  transition: all 0.5s ease 0s;
}
/*Filtro Inicio*/
.filterQuery{
  display: block;
  text-align: center;
  padding: 25px;
}
.filterQuery span{
  padding: 5px;
}

.text-input{
  border: 1px solid black;
  padding:4px;
  color: #000;
  width: auto;
}
.select-input{
  padding:4px;
}
.date-input{
  padding:4px; 
}
label{
  display: inline-table;
  width: 110px;
}
.select-input option:hover{
  background-color: #7a6afe;
}

/*filtro Fin*/
.containerCenterimg {
  display: block;
  text-align: center;
}

.message {
  width: 250px;
  height: 250px;
}

/*Inicio Header*/
header {
  width: 100%;
  display: table;
  background-color: white;
  margin-bottom: 50px;
}


#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px;
}

nav {
  width: 100%;
  border-bottom: 1px solid black;
}

.nav ul li {
  float: left;
}

.nav ul li:last-child {
  padding-right: 0px;
}

.nav ul li a {
  color: black;
  font-size: 18px;
  padding: 13px;
  display: inline-block;
  transition: all 0.5s ease 0s;
  text-decoration: none;
  list-style: none;
}

.nav ul li a:hover {
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
  color: white;
  border-radius: 30px;
  transition: all 0.5s ease 0s;
}
.nav ul li:hover>ul{
  display: grid;
}
.nav ul li ul li:hover{
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
  color: white;
  border-radius: 30px;
}

.nav ul li ul {
  display: none;
  position: absolute;
  padding: 7px;
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

/*fin Header*/
/* Inicio tablas*/
.container-table{
  padding: 5%;
}
table {
  border: 2px solid #7a6afe;
  border-radius: 50px;
  background-color: #fff;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #7a6afe;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

tr {
  border: 1px solid rgb(219, 207, 207);
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

/*Fin tablas*/
/*Inicio modal*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  height: 250px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header {

  margin-top: 60px 0;
  color: #42b983;
  text-align: center;

}

.modal-header,
img {
  width: 50;
  height: 50px;
}

.modal-body {
  margin: 60px 0;
  text-align: center;
}

.modalmask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalmask:target {
  opacity: 1;
  pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox {
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;

}

/*Movimientos*/
.movedown {
  margin: 0 auto;
}

.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5, -5);
  transform: scale(-5, -5);
}

.resize {
  margin: 10% auto;
  width: 0;
  height: 0;

}

.modalmask:target .movedown {
  margin: 10% auto;
}

.modalmask:target .rotate {
  transform: rotate(360deg) scale(1, 1);
  -webkit-transform: rotate(360deg) scale(1, 1);
}

.modalmask:target .resize {
  width: 400px;
  height: 200px;
}

/*Boton de cerrar*/
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;

}

.close:hover {
  background: #FAAC58;
  color: #222;
}

.modal-enter-active {
  animation: modal-in 7s;
}

.modal-leave-active {
  animation: modal-in 7s reverse;
}

@keyframes modal-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

/* Fin Modal*/
/*TAG*/


img {
  text-align: center;
  width: 250px;
}


a {

  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {

  font-size: 18px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}


input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}



button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}


/*Container*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.centrar {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

/*Formulario*/
.loginFormulario {
  width: 100%;
}

.loginFormulario-titulo {
  display: block;

  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.container-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input-text {

  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input-text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-text::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input-text::after {

  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input-text:focus+.focus-input-text::after {
  top: -15px;
}

.input-text:focus+.focus-input-text::before {
  width: 100%;
}

.has-val.input-text+.focus-input-text::after {
  top: -15px;
}

.has-val.input-text+.focus-input-text::before {
  width: 100%;
}

/*Button*/
.container-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.form-btn {

  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn {

  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*Texto*/
.txt1 {

  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {

  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*responsive*/
@media (max-width: 576px) {
  .login {
    padding: 77px 15px 33px 15px;
  }
}